@import "tailwindcss";

@theme {
  --text-custom-md: 1rem;
  --text-custom-md--line-height: 1.5rem;
  --text-custom-md--font-weight: 500;

  --text-custom-sm: 0.875rem;
  --text-custom-sm--line-height: 1.5rem;
  --text-custom-sm--font-weight: 400;
}